[submodule "examples/cpp/etl"]
	path = examples/cpp/etl
	url = https://github.com/ETLCPP/etl
[submodule "meson-buildsystem"]
	path = meson
	url = https://github.com/embeddedartistry/meson-buildsystem.git
[submodule "interfaces/c-interfaces"]
	path = interfaces/c
	url = https://github.com/embeddedartistry/c-interfaces.git
